vorm-object-suggest-display > div{
	display: flex;
	align-items: center;
}

// onderstaande  hack vervangen met iets constructievers

vorm-object-suggest-display,
.zs-modal vorm-object-suggest-display,
.file-list-item,
.object-list-item,
vorm-map-display,
.zs-modal vorm-file-display {
	+ .vorm-clear{
		display: block;
		right:10px;
	}
}
