<div class="detail-view detail-view-<[name]>">
	
	<div class="detail-view-header block-header clearfix">
		<div class="detail-view-title block-header-title">
			<[getTitle()]>
		</div>
		
		<div class="block-header-actions">
			<div class="button-group clearfix" data-zs-popup-menu data-ng-show="hasVisibleActions()">
				<button class="button button-secondary dropdown-toggle button">
					<i class="icon-font-awesome icon-gear"></i>
				</button>
				<ul class="action-list-popover popover">
					<li data-ng-repeat="action in actions | filter:isVisible:action"  data-ng-include="'/html/core/detail/action-type-' + getActionTemplate(action) + '.html'">
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="detail-view-listing block-content">
		<div class="detail-view-fieldset detail-view-fieldset-<[fieldset.name]>" data-ng-repeat="fieldset in fieldsets">
			
			<div class="detail-view-fieldset-title" data-ng-show="fieldset.title">
				<[fieldset.title]>
			</div>
			
			<div class="detail-view-field detail-view-field-name-<[field.name]>" data-ng-repeat="field in fieldset.fields | filter:isVisible:field" data-ng-controller="nl.mintlab.core.detail.DetailFieldController" data-ng-class="{'detail-view-field-editing': editMode }">
				
				<div class="detail-view-field-label">
					<[field.label]>
				</div>
				
				<div class="detail-view-field-value">
					
					<div class="detail-view-field-value-display" data-zs-template="<[getFieldTemplate()]>">
					</div>
					
					<div class="detail-view-field-value-form" data-zs-form-template-parser="<[getForm()]>">
					</div>
					
					<button class="detail-view-field-value-edit" data-ng-show="isEditable()" data-ng-click="setEditMode(!editMode)">
						<[editMode&&'%%Klaar%%'||'%%Wijzig%%']>
					</button>
					
				</div>
				
			</div>
		</div>
	</div>
	
</div>

<script type="text/ng-template" id="/html/core/detail/action-type-default.html">
	<button class="detail-view-action-list-item-button" data-ng-disabled="isDisabled(action)" data-ng-click="handleActionClick(action, $event)" data-zs-popup="action.data.popup" data-zs-confirm data-ng-controller="nl.mintlab.core.detail.DetailActionController">
		<[action.label]>
	</button>
</script>