<div class="case-detail-view__header case-detail-view__header--modal">

	<div class="case-detail-view__header-container">

		<button class="case-detail-view__header-button" ng-click="caseCompleteView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="case-detail-view__header-title">
			Melding afhandelen
		</div>
		
	</div>
	
</div>

<div class="casecomplete-view__body">

	<div 
		ng-if="!caseCompleteView.getCorrectConfig()"
		class="case-detail-view__field-config-error-message"
	>
		<zs-icon icon-type="alert-circle-outline"></zs-icon>
		<span>De beheerder heeft niet alle verplichte velden voor de gebruikte versie van dit zaaktype gekoppeld, <br />Deze zaak kan niet afgehandeld worden met de app totdat dit is gedaan.</span>
		<span ng-if="caseCompleteView.getSupportLink()">
			<a ng-href="{{::caseCompleteView.getSupportLink()}}" target="_new">Meld aan beheerder.</a>
		</span>
		<span ng-if="!caseCompleteView.getSupportLink()">
			Meld aan beheerder.
		</span>
	</div>

	<vorm-fieldset
		on-change="caseCompleteView.handleFieldChange($name, $value)"
		data-values="caseCompleteView.getValues()"
		data-fields="caseCompleteView.getCompletionFields()"
		data-valid="caseCompleteView.getValidations()"
		data-compiler="caseCompleteView.getCompiler()"
	>
	</vorm-fieldset>

	<div class="case-detail-view__button-container">
		<button
			class="btn btn-secondary"
			ng-click="caseCompleteView.handleComplete()"
			ng-disabled="!caseCompleteView.isValid() || !caseCompleteView.getCorrectConfig()"
		>
			Afhandelen
		</button>
	</div>

</div>
