<div 
	ng-repeat="item in proposalNoteBar.getNotes() track by item.reference"
	class="proposal-detail-view__notecontent"
	ng-click="proposalNoteBar.handleNoteClick(item.reference)"
	data-reference="{{item.reference}}"
>

	<zs-icon icon-type="note" ng-show="!item.isEmpty"></zs-icon>
	<zs-icon icon-type="plus-circle-outline" ng-show="item.isEmpty"></zs-icon>

	<div class="proposal-detail-view__noteplaceholder">{{item.instance.content || 'Voeg een nieuwe persoonlijke notitie toe'}}</div>

</div>
