<div data-zs-modal data-ng-init="title='%%Bericht versturen%%'">

  <div data-zs-spinner="isLoading()" class="zs-spinner-medium"></div>

  <div data-ng-controller="nl.mintlab.docs.SendMessageController" data-ng-init="init()" class="send-message">

    <!-- Tabs -->
    <ul class="sendmessage-tabs">
      <li class="sendmessage-tab col s3" data-ng-class="{active: tabIsActive('email')}">
        <a href="#" data-ng-click="showTab('email')">
          <i class="mdi mdi-email-outline"></i>%%E-mail%%
        </a>
      </li>

      <div ng-hide="isPostexUnavailable()" class="ng-hide">
        <li class="sendmessage-tab col s3" data-ng-class="{active: tabIsActive('postex')}">
          <a href="#" data-ng-click="showTab('postex')">
            <i class="mdi mdi-cloud-print-outline"></i>%%Postex%%
          </a>
        </li>
      </div>

      <li class="sendmessage-tab col s3" data-ng-class="{disabled: !(isMessageBoxAllowed()), active: tabIsActive('messageBox')}"
        zs-tooltip="{{ getErrors('tab', true) }}" 
        zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 5, y: 0 } }">
        <a href="#" data-ng-click="showTab('messageBox')" data-ng-class="{disabled: !(isMessageBoxAllowed())}">
          <i class="icon-mijnoverheid">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 1693 1404" style="enable-background:new 0 0 1693 1404;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <rect x="-106" y="-86" class="st0" width="1911" height="1670" />
              <path id="icon-mijnoverheid" d="M1155.8,1361.2c-0.3-37.7,0-38.6,37.7-34.7c26.3,2.7,52.4,7.2,76.1,30.8c2.7-7.5,6.6-14.7,7.5-22.2
                            c1.1-11.9,1.2-24,0.3-35.9c-0.9-10.8,3-15.9,13.5-18.9c48.8-14.4,98.8-18.9,149.4-15c16.2,1.2,32.3,5.1,48.2,8.7
                            c11.1,2.7,16.8,9.9,18.6,22.2c4.2,28.4,9.9,56.6,15.3,86.2c-84.4-31.1-165.3-13.2-246.4,6c-25.2,6-50.6,11.4-76.4,13.8
                            c-3.3,0.3-6.4,0.5-9.3,0.5C1164.7,1402.7,1155.8,1390.5,1155.8,1361.2z M508.1,1401.9c-33.6-3.4-66.9-8.9-99.7-16.5
                            c-48.2-10.8-96.4-21-146.1-20.1c-30.5,0.9-59.6,4.2-89.8,18.6c6-33.8,10.8-65.3,18-96.4c1.5-6,11.7-13.5,18.9-14.4
                            c31.4-4.2,63.5-9.6,94.9-8.1c34.1,1.5,67.7,10.2,101.5,15.9c9.6,1.5,12.9,6.9,12.3,16.8c-0.9,12-1.2,24,0.3,35.9
                            c0.9,8.1,4.8,15.9,8.4,26.6c29.6-33.5,66.5-32.9,102.1-35.9c7.5-0.6,11.4,1.8,11.1,9.9c-0.3,12.6,0.6,24.9-0.3,37.4
                            c-1.4,18.7-10.4,30.4-27.6,30.4C510.6,1402.1,509.4,1402,508.1,1401.9L508.1,1401.9z M1160.6,1294.7
                            c-149.1-16.2-298.8-15-448.6-11.1c-72.2,1.8-144,10.2-215.9,17.1c-19.8,2.1-38.9,10.2-59.6,15.9c0-32-0.9-65.9,0.9-99.4
                            c0.3-5.7,11.4-14.1,18.9-15.9c30.5-7.2,61.1-14.7,92.2-18c163.2-17.4,326.7-17.1,490.2-8.7c59,3,117.7,12.9,176.7,19.8
                            c0.9,0,2.1,0.3,3,0.3c38.6,9,40.1,11.1,40.1,50.6c-0.3,24.3-0.3,48.5-0.3,75.2C1225.8,1301.3,1192.9,1298,1160.6,1294.7
                            L1160.6,1294.7z M1443.8,1186c-12.6-7.8-22.5-3.3-32.6,6.3c-4.2-12-1.8-21.9,6-29.3c12.3-11.7,25.8-6,39.2,0.6
                            c3-18.9-10.2-19.8-22.2-21.3c12.3-18.3,27.2-19.8,42.5-3.9c11.7,12,24.9,12.6,39.5,9.3c-2.1-47.3-22.5-80.5-68-96.1
                            c-8.4-3-16.8-6.3-25.2-9.3c-18.9-6.6-35.3-15.6-42.5-35.9c-22.2,16.2-42.5,9.9-50-11.4c10.5-2.1,22.8-1.8,31.1-7.2
                            c15.3-9.9,22.8-27.2,23.4-44.9c0.6-16.2-0.6-33.5-6.3-48.2c-32.3-85-142.8-121.6-220.1-74c-15.9,9.9-16.2,11.1-3.6,28.7
                            c-11.7-1.5-20.4-2.7-30.5-4.2c-11.4,12.3,0,21,7.8,30.2c-12.3,4.5-17.7,1.8-33.2-16.2c0,22.2-0.3,42.8,0,63.5
                            c0.6,40.7-15.3,73.7-49.1,95.2c-37.7,24-77.9,44.3-116.8,66.5c-26,14.7-51.8,29.9-77.9,44.3c-4.2,2.4-11.7,3.3-15.6,1.2
                            c-53.6-28.7-106.9-57.8-159.6-88c-19.3-11.2-37.5-24.4-54.2-39.2c-21-18.9-30.8-43.7-30.5-72.2c-0.3-22.2-0.3-45.8-0.3-72.8
                            c-9.9,12.6-17.7,24-35,20.7c7.2-11.1,21.6-19.8,8.7-32.3c-10.5,1.5-19.2,2.7-27.8,3.6c-1.2-0.9-2.1-1.8-3.3-2.7
                            c16.2-11.4,9.6-18-1.5-25.2c-65.6-41.9-150.3-24.9-203.9,42.2c-20.1,25.2-31.1,53.6-23.4,86.2c2.6,10.1,6.8,19.7,12.6,28.4
                            c10.8,16.5,22.5,19.5,40.7,12.9c-2.7,23.7-26.9,31.4-49.7,15c-6.6,19.2-22.2,28.7-39.8,35.6c-17.1,6.6-34.7,12.6-50.9,21.3
                            c-32.6,18-42.5,49.1-45.2,84.4c16.2,3.9,28.7,2.7,40.4-9.6c14.4-15,28.1-13.5,42.5,3.9c-10.8,3-25.5,3-22.8,16.5
                            c14.1,1.5,28.1-0.3,38.3,5.1c6.9,3.6,8.4,17.1,10.5,27.2c-12.3-4.8-22.2-14.1-35-4.8c24.6,19.8,26.9,33.2,10.5,50
                            c-5.4-6.9-9.6-16.8-16.8-19.8c-7.2-3-17.1,1.5-26,1.8c-12.9,0.3-25.5-0.6-41.9-0.9c-11.1,12.9-20.4,16.8-41,13.8
                            c5.1-6,10.8-10.8,14.1-17.1c2.1-3.9,0.3-9.9,0.3-14.7c-1.7,0.1-3.3,0.1-5-0.1c-3-0.2-5.9-0.3-8.2,0.7c-21.6,9.6-32.3,7.8-44.6-9.9
                            c3.3-0.3,6-0.9,8.7-1.2c18.3-2.4,24-9.3,22.8-28.1c-1.5-25.5-4.5-50.9-3.6-76.1c0.6-14.4,7.8-28.7,12.3-44
                            c-26.3-14.7-31.7-29-17.1-52.4c12.3,29,32.3,33.8,57.5,12.9c15.9-13.2,24.6-30.5,25.5-50.9c-18.9-1.5-36.8-0.9-54.2-4.8
                            c-47.9-10.2-72.5-56-53-101.2c7.8-18.3,21.6-34.4,33.8-50.6c8.7-11.7,19.5-21.3,28.4-32.6c5.7-7.5,11.1-15.6,14.4-24.3
                            c6.3-15.6,5.7-31.7-5.1-45.2c-11.4-14.4-28.1-14.4-44-10.8c-20.1,4.5-34.4,17.1-43.7,35.6c-2.1,4.2-4.5,8.7-7.8,15
                            c-8.1-18-2.1-32,5.1-47.9c-22.8,5.1-45.8,10.8-62.3-10.2c-13.2-16.8-7.2-35.6-1.5-56c10.5,29.9,34.1,29,58.4,28.7
                            c22.5-0.3,45.2-1.5,67.1,2.4c51.2,9,76.1,62.6,50,107.8c-10.5,18.3-25.8,34.1-39.2,50.9c-14.4,17.7-26.9,35.9-26.9,59.9
                            c0,19.5,9,34.1,28.4,36.2c17.7,1.8,36.2-1.5,54.2-4.2c3.9-0.6,7.2-9.6,9.3-15c12.3-32,24-64.1,36.5-95.8c2.4-6,6.9-10.8,10.8-16.2
                            c10.2-13.8,20.1-20.7,39.8-13.8c35.6,12.3,71.9,7.5,105.4-11.1c10.8-6,22.2-11.7,32.9-17.4c25.8-13.8,49.7-10.5,72.8,6.6
                            c22.5,16.5,44.9,33.2,67.7,49.4c4.8,3.3,11.4,3.9,17.4,5.7c0.9-5.1,3-10.2,3-15.3c0.3-69.8,0-139.8,0-209.6v-15
                            c-15.3,0-17.4,8.4-17.4,19.8c0,9.3-2.1,18.3-5.7,28.4c-8.1-17.7-17.4-14.4-27.8-5.7c-14.4,12-29.3,23.7-42.5,34.4    
                            c-15-18.3-29.9-36.2-44-53.6c14.4-4.5,32-9.3,48.8-16.2c21.9-9,44-18.3,47.3-46.4c0.3-2.1,2.7-5.7,4.2-5.7
                            c15.3-1.5,21.6-16.2,32.9-22.5c6.3-3.3,15.9-0.6,24.6-0.6c-7.2,10.8-12.9,19.2-18.3,27.2c1,0.9,1.9,1.9,2.7,3
                            c18-4.2,36.2-8.4,56-13.2V577H688c0-23.4,0.3-46.1-0.3-68.9c-0.3-9.9,2.7-13.2,13.2-15c128.5-22.5,255.1-13.8,380.6,19.8
                            c2.7,0.9,5.7,1.2,12.6-0.6c-4.8-8.1-9.6-15.9-14.7-24.3c10.5-9,20.1-7.5,31.1,4.5c4.8,5.1,11.7,7.8,17.1,12.3
                            c4.5,3.6,11.1,7.5,11.7,12c2.7,18.3,14.7,28.4,29.3,35c22.2,9.9,45.2,17.7,65.6,25.8c-13.5,16.2-28.1,34.4-43.4,52.7
                            c-13.2-10.8-28.4-23.7-44-35.9c-9.6-7.5-19.2-11.7-22.2,7.2c-10.2-8.4-12.6-17.4-10.2-28.7c2.4-10.5-0.9-18.6-15.3-18.9v240.7
                            c7.2-3,13.8-4.2,18.9-7.8c22.5-15.9,44.3-32,66.5-48.5c24-18,48.8-20.1,75.5-6c18,9.6,35.9,19.8,55.1,26.9c29,11.1,59,9.6,88-0.9
                            c11.7-4.2,18.6-1.5,25.8,6.6c26.3,28.7,38.9,64.4,50,100.9c1.2,4.2,3.3,8.7,3.3,12.9c0,19.2,12.3,25.5,28.4,27.2
                            c4.5,0.6,9,0.9,13.5,0.9c45.5,1.8,65.3-26.6,44.3-67.4c-10.5-20.4-26.9-38-41.6-56.3c-15.3-19.2-28.1-38.6-27.2-64.7
                            c1.2-37.1,26.3-65.9,63.2-69.8c19.8-2.1,39.8-1.8,59.9-2.1c39.2-0.3,39.2,0,63.8-26c15.3,54.2-4.2,74-63.5,64.4
                            c2.4,7.5,5.4,14.7,6.6,22.2c1.2,7.2,0.3,14.7,0.3,22.2c-1.5,0-3,0.3-4.5,0.3c-1.8-3.9-3.6-7.5-5.7-11.4
                            c-10.5-21.3-26.9-34.1-50.3-38c-31.7-5.1-54.8,19.2-45.5,49.7c4.2,13.8,13.2,26.6,22.2,38.3c15.3,20.4,34.4,38,47.9,59
                            c33.5,52.4,9.6,107.8-50.3,120.1c-10.5,2.1-21.9,1.5-32.6,1.8c-4.8,0.3-9.9,0-14.7,0c-1.2,26.9,18.3,55.4,43.1,63.2
                            c19.5,6,29.3,0,38.3-23.4c16.2,20.4,9,40.4-20.4,53.9c19.5,19.5,18.9,44,17.7,68.6c-0.6,11.9-1.8,23.8-3.6,35.6
                            c-4.8,32.3-1.2,37.4,29.6,43.4c-9,15.3-21.3,18.3-38.9,11.4c-5.7-2.1-12.3-1.5-18.3-2.1c2.1,6.9,3.3,14.4,6.6,21
                            c1.5,3,6.6,3.9,8.4,7.8c-19.8,4.8-34.1,0-44.3-17.1c-14.1,10.2-28.1,10.8-44,4.8c-18.3-6.9-24.9-2.4-36.8,20.4
                            C1416,1217.8,1418.7,1203.7,1443.8,1186L1443.8,1186z M848.8,1073.4h30.2v-90.7h-30.2V1073.4z M949.4,1013.8
                            c13.8-21,34.7-22.5,57.2-19.2c-4.5-6.3-7.8-11.1-11.1-15.3c11.4-3.6,19.8-6.6,28.1-9.3c0.3-1.5,0.3-3.3,0.6-4.8
                            c-19.5,5.7-23.7-6-26.6-19.8c-2.1-9-5.7-17.7-7.5-23.4c2.4-9,4.5-15.9,6.3-22.5c-1.2-0.9-2.4-1.5-3.6-2.4
                            c-8.4,12.6-18.9,11.7-30.2,6.3c-17.1-8.4-28.4-20.7-31.7-41.9c9.6,0.9,17.4,2.1,25.2,2.1c19.5,0.3,39.2-1.8,49.1-21.3
                            c9.6-18.9,5.4-38-6.6-55.1c-5.7-8.1-12.6-15.6-18.6-23.7c-6.3-8.4-11.1-17.7-2.7-26.9c8.7-9.6,19.8-7.2,28.4-0.3
                            c8.7,6.9,15.6,15.9,24.6,25.2c0.6-7.5,1.5-14.7,2.1-21.6c22.5-1.2,39.5-12,27.2-35.6c-6.6,17.4-20.4,16.2-34.1,14.1
                            c-9.3-1.2-18.6-3.3-28.1-4.5c-16.5-2.1-31.1,2.1-39.8,17.4c-8.7,15.3-4.8,29.9,5.1,43.1c5.7,7.5,14.1,13.8,17.4,22.5
                            c3.6,9.9,6,22.8,2.7,32c-4.5,12.3-18.6,12.6-29.9,9.9c-11.7-2.7-21.6-6.9-25.5-21.6c-5.1-20.4-13.5-39.8-21-60.5
                            c-30.8,11.7-55.7,6.6-79.4-8.4c-19.2-12.3-37.4-11.4-55.4,3c-13.2,10.5-26.3,21.3-40.1,31.1c-6.9,4.8-14.7,8.4-25.5,14.4
                            c3-17.7,5.1-30.8,8.1-48.2c-5.1,6-7.2,8.7-9.9,12c-3-5.7-5.4-9.9-8.4-15.3c-0.9,6-1.5,10.5-2.4,17.4c-5.1-5.4-8.7-9.3-13.2-14.4
                            c0.9,7.2,1.5,12.3,2.4,19.5c-6.9-5.4-11.4-9-17.7-13.8c2.4,7.8,4.2,13.2,6.9,21.3c-6.9-3.3-10.8-5.4-16.8-8.4
                            c2.7,6,4.5,9.9,7.2,15.3c-6-1.2-10.2-1.8-15.6-3c3.3,5.1,6,9,9.3,13.8c-4.8,0.6-8.4,0.9-12.3,1.2c8.4,13.8,35.9-3.6,32.9,23.7
                            c6-2.7,10.8-4.8,16.5-7.2c-3.6,7.8-6.6,13.8-10.5,22.8c8.7-3.6,13.5-5.7,20.1-8.4c-0.9,10.2-1.5,17.4-2.4,24.3
                            c21.6,5.1,36.2-5.4,40.4-27.2c-6-1.8-12-3.9-20.1-6.3c18-14.4,37.1-21.9,57.5-26.6c53-12,95.8,15.6,106.9,68.6
                            c5.4,23.4-3,42.2-21.3,50v4.8h26.6c3.9,14.4,17.4,15.9,31.4,16.5c6.9,0.2,13.9,1,20.7,2.4c15,3.3,25.8,11.4,32.3,29.9h-42.5
                            c0,1,0.1,2,0.3,3c6.3,2.7,12.6,5.4,19.2,8.4c-0.3,1.2-0.3,2.4-0.6,3.9c-12.6-0.6-22.2,1.5-19.5,16.5c5.7-1.8,11.1-3.6,19.5-6.6
                            C944.7,998,938.7,1006.4,949.4,1013.8L949.4,1013.8z M733.3,983.6c9.3,2.7,19.2,4.2,25.8,5.4c1.2-6.9,0.6-15.3,4.2-20.1
                            c6.3-8.1,14.7-14.7,27.2-8.7c4.8,2.4,11.7,1.5,19.8,2.4c-6.6-7.8-12.3-12-14.1-17.7c-6.6-21-6.9-53.6,23.1-68.6
                            c12.9-6.3,26-12,40.7-18.3c-13.8-7.5-12.9-18.9-8.1-30.5c-16.2-11.4-33.5-12.3-48.5-2.7c-15,9.3-27.2,22.8-41,34.1
                            c-7.5,6.3-15.3,12.6-24.9,20.7c5.3,3.3,10.8,6.2,16.5,8.7c2.4,11.1,3.3,22.8,7.5,32.9c5.4,13.5-3.6,17.7-11.7,23.1
                            c-8.1,5.1-15.3,8.4-23.4-1.8c-6.9-9-8.1-8.1-16.8-3c3,3.9,6,8.1,10.8,14.4c-22.5-4.5-24-3.9-26.6,10.2H709c-3.3,8.1-6.3,15-9.3,21.9
                            c1.2,0.9,2.7,1.5,3.9,2.4c4.4-6.2,9.2-8.1,14.2-8.1C722.7,980.3,727.9,982.1,733.3,983.6L733.3,983.6z M868.3,641
                            c-2.1,5.1-3,11.4-6.3,15.3c-3,3.3-8.4,5.1-13.2,6.6c-10.5,3-21.6,4.5-31.7,8.1c-19.8,6.9-29,21.3-28.7,39.2
                            c18.3,7.2,36.2,12.9,53,21.3c23.1,11.7,44.9,9.3,67.7-1.2c-2.4-12.6-6.9-24.9,5.7-35c8.4,5.7,15.9,15,27.8,5.7
                            c-11.4-9.9-15.9-21-9.6-32.9c9.8-0.7,19.5-2,29-3.9c-18-12.3-19.5-15.3-18.6-33.2c0.4-7.5,0.4-15,0-22.5c-0.6-8.4-5.7-19.5-2.4-24.9
                            c4.5-6.9,15.9-9.3,24-13.8c0.6-0.3,0.6-1.8,0.6-2.1c-9.6-1.8-21.9-0.3-27.8-6c-5.7-5.4-5.1-17.7-7.5-26.9
                            c-10.5,3.6-20.7,10.8-28.7,9c-7.5-1.8-12.9-13.2-20.4-21.6c1.2,12.9,2.1,23.4,2.4,28.7c-17.7,10.2-31.7,18.3-45.5,26.3
                            c-17.1,9.9-17.7,12.3-7.2,29.6c11.1-0.6,26-12.3,31.1,6.3c4.2,15.3-12,9.9-19.2,13.5v15.3c4.5-1.2,7.8-3,11.1-3
                            C858.7,638.9,863.5,640.4,868.3,641z M708.7,678.8c18,11.1,37.1,20.7,56.3,30.8c4.2-10.5,7.8-19.5,12-29.6
                            c-7.2-2.4-14.7-5.1-22.2-6.9c-13.2-3.3-25.2-11.1-40.1-5.7c-4.5,1.5-11.7-5.1-18-7.8c0.3-1.8,0.9-3.3,1.2-5.1
                            c12.6-3.6,25.5-6.9,39.8-11.1c-4.8-1.9-9.4-4.2-13.8-6.9c20.7-29,40.7-56.3,59.6-84.4c4.8-7.2,5.7-17.1,8.4-25.8
                            c-2.1-1.2-4.1-2.5-6-3.9c-6.9,5.7-15.3,10.2-20.4,17.1c-20.7,26.6-40.1,54.2-60.5,82c-4.2-3.3-7.5-5.7-10.8-8.1
                            c-1.5,0.6-2.7,1.5-4.2,2.1c1.5,3.9,3,7.8,4.2,12c1.2,3.3,3.6,8.1,2.4,10.2c-1.5,2.4-6.3,2.7-9.9,3.3c-5.7,0.9-11.4,1.2-19.5,1.8
                            c6.3,4.2,10.2,6.9,15.3,10.2c-9.3,2.7-16.2,4.8-23.1,6.9c0.3,0.9,0.6,2.1,0.9,3c4.5,0.9,9,2.1,14.7,3.3c-5.1,8.4-9.3,15.3-14.1,23.1
                            c5.1,3.3,9,5.7,12.9,8.4c3.9-5.4,7.5-9,9.9-13.2c3.7-7,7.7-10.1,12.6-10.1C700,674.3,704,675.9,708.7,678.8L708.7,678.8z
                                M1001.9,658.1h29.6V568h-29.6L1001.9,658.1z M795.8,631.2c13.8-1.5,27.8-5.1,41.6-8.1c0-1.5-0.3-3.3-0.3-4.8h-52.1
                            C788.9,623.4,792.8,631.5,795.8,631.2L795.8,631.2z M550.9,1126.1c-8.4,2.1-17.7,0.3-29,0.3c-6.3,12-18.6,18.9-38.6,15.6
                            c12-11.4,21.3-20.7,10.2-35.3c-13.8-18.3-33.8-25.8-50-18.3c-19.8,9-32.9,6.3-44.6-10.2c22.5,1.8,29.6-13.2,33.5-30.5
                            c2.8-11.7,5-23.4,6.6-35.3c2.7-21.3-3.3-32.9-23.1-42.2c-24.9-11.7-50.3-21.6-75.5-32.3c-4.5-1.8-8.7-3.6-13.8-6
                            c20.4-15.9,21.9-21.6,12-41.3c23.1-26.9,64.1-37.1,95.8-19.8c22.2,12,41.3,29,61.7,44.3c9.9,7.5,18.9,16.5,28.4,24
                            c8.4,6.6,17.4,10.8,26.9,0.6c3,22.5-5.7,30.5-26.3,28.7c-11.4,23.1-22.2,44.9-33.8,69.2c6,4.5,14.4,11.4,23.4,17.1
                            c20.1,12.3,24.3,11.4,40.1-5.4c13.8-14.7,24.6-14.7,38-1.5c-7.8,6.3-15.6,12.6-23.1,18.9c15.6,1.8,29.3,0.6,40.4,5.4
                            c6.3,3,7.8,16.2,11.4,24.3c-13.8-2.4-24.6-4.5-36.2-6.6c8.1,12.3,16.2,20.7,19.2,30.5c2.1,6.6-3,15.6-5.7,26
                            C581.7,1119.8,578.1,1118.9,550.9,1126.1z M1173.1,1127.6c-12.3-0.6-22.5,0.6-31.7-1.8c-25.2-6.9-31.4-4.8-43.1,16.8
                            c-16.2-17.1-13.5-30.5,9.9-47.3c-11.7-7.2-13.2-7.2-32.6,3c-2.1-29,15.3-39.5,44.6-26.9c1.5-12.6-0.3-14.7-19.2-21.3
                            c11.1-15.3,24.6-15.9,38-1.5c17.7,18.3,21.9,18.9,43.7,4.8c7.8-5.1,15.3-11.1,21-15.6c-11.4-23.1-22.2-44.9-33.8-68.9
                            c-23.7-1.5-26.9-4.2-27.2-28.4c12.6,9.6,22.5,3.3,31.7-4.5c16.8-14.1,32.6-29.3,50-42.8c10.9-8.7,22.8-16.3,35.3-22.5
                            c33.5-16.5,70.4-8.7,96.7,18.9c-9.9,22.2-8.1,29,13.2,41.9c-5.4,2.4-9.6,4.5-13.8,6.3c-26,11.1-52.4,22.2-78.4,33.2
                            c-13.2,5.7-21.9,15.9-20.1,30.2c2.4,20.7,5.1,41.6,11.7,61.1c3,8.4,15.9,13.5,24.3,20.1c-8.4,11.4-21.6,14.7-39.2,7.2
                            c-20.1-8.7-49.7,2.1-54.8,22.5c-2.1,8.4,4.5,19.2,7.2,30.5c-1.9,0.3-3.9,0.4-5.9,0.4C1188.7,1143,1178.3,1138.2,1173.1,1127.6
                            L1173.1,1127.6z M328.7,740.1v-29c-2.4,1.5-3.9,2.1-4.8,3c-23.1,27.8-27.5,27.8-64.1,6.3c-7.8-4.8-10.8-9.9-3.9-19.2
                            c11.7-15.6,11.1-33.2,4.8-51.2c-9.6,4.5-18.6,10.5-28.1,12.3c-9,1.5-18.9-1.5-26.9-2.7c9.3-12.3,20.7-21.9,24.3-33.8
                            c2.7-9-4.5-21-7.2-31.4c-30.5,5.1-40.7,0-45.2-20.4c28.7-4.5,34.1-13.2,27.2-44.3c-4.8-21.6-4.8-42.5,7.8-62
                            c4.5-6.9,8.7-10.2,18.3-7.2c18.3,4.8,30.5-5.1,32.3-27.8c-5.7,13.2-12.6,19.8-24.6,17.1s-26.9-16.8-26.9-27.2c0-3.3,4.2-8.4,7.8-9.9
                            c31.1-15,61.7-3.6,82.6,29.9c2.4-14.7-2.7-23.1-20.7-35.9c-15-10.5-15.9-18.6-2.4-31.4c-1.2,15.3,7.5,18,19.2,17.7
                            c12.9-0.3,26-0.9,38.9-0.6c15.6,0.3,28.1,6,38.3,19.5c5.4,7.2,15.9,11.1,24.6,15.9c30.5,17.7,32.9,29.9,11.4,58.1
                            c-0.5,0.6-1.1,1.1-1.8,1.5c-12.3-3.6-23.7-8.4-35.6-10.2c-6-0.9-14.1,2.1-18.6,6.3c-10.5,9.9-6.3,23.4,7.8,26.3
                            c9.3,1.8,18.6,2.7,28.1,4.2v31.7c-15.6-3.3-30.8-6.9-46.1-10.2c-6.3,14.4-0.9,23.4,9.3,27.8c14,6.3,28.5,11.4,43.4,15.3
                            c53.9,13.5,94.9,67.4,89.2,120.7c-35.6-6.6-62.9,15-92.8,29.3c-16.1,7.8-32.9,12.8-50.9,12.8C338.5,741.3,333.6,740.9,328.7,740.1z
                                M338.9,436.5c5.1,7.2,11.1,14.7,18.3,16.5c5.7,1.5,13.5-3.6,22.8-6.6c-7.8-9.6-15.7-12.2-23.9-12.2
                            C350.4,434.2,344.7,435.4,338.9,436.5L338.9,436.5z M1306.4,729.7c-12-5.1-22.8-12.9-34.7-17.4c-20.1-7.5-40.7-13.2-64.7-21
                            c1.2-7.2,2.1-19.5,5.7-30.8c13.2-44,41.3-72.8,86.8-83.5c13.5-3.3,26.8-7.8,39.5-13.5c9.6-3.9,16.5-12,12.9-27.2
                            c-8.4,0.9-16.5,0.9-24,2.7c-7.8,1.5-15,4.8-24,7.5v-33.2c8.1-1.2,16.8-2.1,25.5-3.6c7.8-1.2,16.5-1.8,15.3-13.8
                            c-1.2-11.4-6.3-20.4-18.3-19.5c-13.5,1.2-26.6,5.7-43.4,9.6c-4.2-9.9-9.6-22.5-13.8-35c-0.9-2.4,2.7-7.5,5.4-9.6
                            c6.6-5.4,14.1-9.3,21-14.4c10.2-7.5,19.5-16.5,30.2-22.8c9.6-5.7,20.4-10.5,31.1-12c13.2-1.8,26.9,0,40.4,0
                            c11.1,0,19.8-2.4,17.4-17.1c15,10.5,14.4,21-1.8,30.8c-13.5,8.4-22.2,19.2-20.4,36.5c2.1-3.6,4.2-7.2,6-10.8
                            c16.5-29.6,59.3-30.5,80.8-18c2.1,1.2,3.9,5.7,3.6,8.4c-0.9,10.5-15.3,26-27.5,26c-8.1,0-16.2-6-23.1-8.7
                            c0,14.1,12.6,25.5,30.8,19.8c11.4-3.6,15.3,1.5,20.1,9c11.4,17.7,11.4,36.5,7.8,56.3c-0.6,3.9-1.8,7.8-2.4,11.7
                            c-3.3,26.9,2.7,34.7,28.4,35.6c-2.7,20.7-15.3,27.2-40.7,21.6c-20.7,23.4-17.4,38,14.4,61.1c-16.8,12.3-30.5,10.5-55.7-6.6
                            c-10.8,22.5-5.1,42.5,9.3,60.5c-22.5,31.7-50,32-77.3-0.3v30.5c-5.2,0.9-10.5,1.3-15.9,1.3C1335.4,739.9,1320.6,736,1306.4,729.7
                            L1306.4,729.7z M1325.3,435.9c-3,0.6-6.3,5.1-6.9,8.4c-0.3,1.8,3.6,5.4,6.6,6.9c12.3,6.9,23.1,1.2,29.9-18.6
                            C1343.8,433.8,1334.2,433.8,1325.3,435.9L1325.3,435.9z M441.6,518.6c-18-6-36.2-12.3-54.2-18.3c0-0.9-0.3-1.8-0.3-2.7
                            c12.9,0,25.5-0.6,38.3,0.3c7.8,0.6,15.6,3.6,23.4,4.5c16.2,1.8,30.5-2.1,38.9-18.3c1.5,0.6,3.3,1.2,4.8,1.8
                            c-1.5,8.7,0,20.4-5.4,25.5c-6.9,6.9-18.6,9.6-28.4,11.7c-0.7,0.2-1.4,0.2-2,0.2C451.9,523.3,446.5,520.1,441.6,518.6z M1207.6,512.9
                            c-8.7-6.3-9.6-18-2.1-29.9c11.4,19.8,27.5,21.6,45.8,18.6c14.2-2.3,28.5-3.8,42.8-4.5c4.5-0.3,9,1.5,14.7,2.7
                            c-24.9,8.4-47.3,17.4-70.7,22.5c-1.5,0.3-2.9,0.5-4.4,0.5C1225,522.6,1214.4,518,1207.6,512.9z M686.8,443.4
                            c-0.9-18-1.8-34.7-3-51.5c-1.2-15-8.1-25.8-26.3-25.8c5.4-21.3-6.3-35.6-18.9-49.7c-15.3-17.1-31.4-33.5-35.9-57.5
                            c-5.1-27.2,6.9-50,29.6-53.3c6.8-0.8,13.8,0.2,20.1,3c9.9,3.9,19.2,9.9,28.7,15c-3.9,18-12.6,21.6-26.9,10.5
                            c-3.3-2.4-9.6-5.7-11.1-4.5c-3.3,2.7-6.9,8.4-6.3,12.3c1.8,12.3,3.9,24.9,8.7,35.9c6,12.9,15,24.3,22.8,36.5l1.8-4.5
                            c9.6,0,20.7-3.3,28.1,0.6c12.6,6.9,13.2,21,8.4,38.6c3.2-0.2,6.4-0.1,9.6,0c7,0.2,13.4,0.5,17.3-2.4c5.7-4.2,9.3-16.2,7.8-23.4
                            c-3-13.2-9.3-26-15.9-38.3c-8.1-15-19.5-28.1-26-43.4c-6.3-14.7-10.8-31.1-11.4-47c-0.9-21.3,11.1-36.8,31.4-44.3
                            c22.2-8.1,38-2.7,55.1,14.7c8.4,8.4,19.5,14.1,32.3,23.4c-5.7,4.8-11.7,14.1-19.5,15.9c-6.3,1.2-14.7-6.3-22.2-10.2
                            c-1.5-0.9-2.1-3.6-3.6-4.5c-6.9-4.8-14.1-9.3-21-14.1c-3.6,8.1-10.8,16.8-9.6,24.3c3,21.9,9.6,43.1,15,65.9
                            c15.3-6.3,27.8-9.3,36.8,3.3c12,16.5,7.8,32.6-2.7,47.9c13.5,17.7,23.4,21.6,39.5,16.2c19.2-6.6,23.4-24,9-38
                            c-9.9-9.6-19.8-18.6-17.7-34.1c2.1-17.1,14.7-25.2,30.8-19.5c3.6,1.2,8.7,2.4,12,0.9c10.2-4.2,19.5-5.1,27.2,4.2
                            c7.8,9.3,9,20.1,3.3,30.8c-3,5.7-7.5,10.5-12.3,15c-12.9,12.6-15,21.6-6.9,32c8.4,11.1,27.5,14.4,39.2,6.6
                            c4.8-3.3,8.7-8.1,13.8-12.6c-10.8-17.1-16.2-34.4-1.5-50.9c9-10.2,20.4-8.1,32.6-1.8c9.9-23.4,20.7-46.1,18-71.9
                            c-0.6-6.3-5.4-14.7-10.8-17.1c-3.3-1.8-11.4,5.1-16.8,8.7c-2.7,1.8-3.6,6.3-6.3,8.1c-7.2,4.8-15.3,12.6-21.9,11.7
                            c-7.8-1.2-14.4-10.5-19.8-14.7c15.3-12.6,27.5-22.5,39.5-32.9c15.3-12.9,32-12.6,49.1-5.7c18.6,7.2,28.1,21.6,29.9,41.3
                            c2.4,23.1-6.6,43.1-18.3,62c-9,14.4-19.2,28.1-26.6,43.1c-5.1,10.7-8.1,22.3-9,34.1c-1.2,13.2,7.5,19.8,21,18.9
                            c7.8-0.6,14.1-2.4,11.4-12.6c0-0.6-0.3-1.2,0-1.5c3.9-9.3,5.4-21.3,12.3-26.6c5.4-4.5,17.4-0.9,26.9,1.2
                            c17.7-17.7,32.9-38.9,32.9-67.4c0-4.8-3.3-9.6-5.4-14.4c-4.2,1.8-9,3-12.6,5.7c-13.2,9.9-22.2,6-26.3-11.4
                            c9.6-5.1,19.2-10.2,28.4-15.3c18.9-10.2,42.5,0.3,48.8,21.9c6,20.7,1.2,39.8-10.8,56.9c-7.8,11.1-16.8,21-25.8,31.1
                            c-11.7,13.2-21.6,26.6-16.2,46.7c-24.9,2.4-27.5,19.8-28.1,38.6c-0.6,12.9-1.2,25.8-1.8,40.1C902.4,419.1,795.5,418.5,686.8,443.4z
                                M820.4,200.6c0-15,13.2-27.5,27.8-26.9c14.1,0.6,26.3,13.5,26,27.5c-0.3,14.1-13.2,26.3-27.2,26.3
                            C833,227.2,820.4,214.9,820.4,200.6z M842.8,159.2c-9-6.3-18.3-12.3-25.2-20.4c-10.8-12.6-9-30.5,5.4-37.4
                            c21.3-10.5,15-29,18.6-48.2c-10.2,3.3-17.1,7.2-24,7.5c-5.7,0.3-12.3-2.7-16.8-6.3c-2.1-1.5-2.1-10.2,0-12
                            c4.5-3.6,11.1-6.9,16.8-6.6c7.2,0.3,14.4,4.2,25.8,7.8c-3.3-8.1-6.6-12.3-6.3-16.5c0-8.3,1.2-16.6,3.6-24.6
                            c0.6-1.5,13.5-1.8,14.1-0.3c2.7,7.8,4.2,16,4.5,24.3c0,4.2-3.6,8.7-7.5,16.8c8.1-2.4,12-3.6,15.9-4.5c5.7-1.2,12.3-4.5,17.1-2.7
                            c4.8,1.5,11.4,8.1,11.4,12.3s-7.2,12-11.4,12c-9,0.3-18-3.3-26.9-5.1c-5.4,18-0.3,34.4,14.4,44.6c14.4,10.2,17.7,26.9,6,40.1
                            c-6.9,7.8-15.9,13.5-24.6,19.2C850.3,161,846.2,161,842.8,159.2z" />
            </svg>
          </i>
          <span>%%MijnOverheid%%</span>
          <zs-spinner is-loading="loading"></zs-spinner>
        </a>
      </li>
    </ul>

    <!-- E-mail tab -->
    
      <div  data-ng-controller="nl.mintlab.docs.EmailAttachmentsController" data-ng-init="init()" class="send-email-wrapper" data-ng-show="tabIsActive('email')">
        <!-- Email preview -->
        <zs-email-preview 
          ng-show="isPreviewActive()"
          preview-data="previewData"
          case-id="caseId"
          class="doc-send-email-preview"
        ></zs-email-preview>
        
        <!-- Email form -->
        <form name="emailForm" id="emailForm" ng-show="!isPreviewActive()" class="grid-table modal-medium doc-email-form" novalidate>
          <div class="row row-config" data-ng-show="showTemplateSelection()">
            <div class="column large-4 td-label">%%E-mailsjabloon%%</div>
            <div class="column large-8 td-field">
              <select data-ng-model="template" data-ng-options="template as template.bibliotheek_notificaties_id.label for template in templates"
                data-ng-change="handleTemplateChange()">
                <option value="">Geen</option>
              </select>
            </div>
          </div>

          <div class="row row-config" data-ng-class="{'row-type-ontvanger':(typeRecipient !== 'betrokkene')}">
            <div class="column large-4 td-label">%%Selecteer type ontvanger%%</div>
            <div class="column large-8 td-field">
              <select data-ng-model="typeRecipient" data-ng-options="recipient.value as recipient.label for recipient in getRecipients()"
                data-ng-change="handleTypeRecipientChange()">
              </select>
            </div>
            <div class="row-options" data-ng-show="(typeRecipient !== 'betrokkene') && showCcOptions()">
              <div class="row-options-wrapper">
                <button type="button" data-ng-click="showCc()" data-ng-show="!isCcVisible()">
                  Cc
                </button>
                <button type="button" data-ng-click="showBcc()" data-ng-show="!isBccVisible()">
                  Bcc
                </button>
              </div>
            </div>
          </div>

          <div data-ng-show="typeRecipient === 'betrokkene'" class="row row-config row-type-ontvanger" data-ng-class="{'row-type-ontvanger':(typeRecipient === 'betrokkene')}">
            <div class="column large-4 td-label">%%Selecteer type betrokkene%%</div>
            <div class="column large-8 td-field">
              <select data-ng-model="roleRecipient" data-ng-options="role.value as role.label for role in roles">
              </select>
            </div>
            <div class="row-options" data-ng-show="(typeRecipient === 'betrokkene') && showCcOptions()">
              <div class="row-options-wrapper">
                <button type="button" data-ng-click="showCc()" data-ng-show="!isCcVisible()">
                  Cc
                </button>
                <button type="button" data-ng-click="showBcc()" data-ng-show="!isBccVisible()">
                  Bcc
                </button>
              </div>
            </div>
          </div>

          <div class="row row-email-content">
            <div class="column large-8 td-field" data-ng-show="typeRecipient==='coworker'">
              <input type="text" data-ng-model="recipient" data-zs-placeholder="'%%Zoek uw collega%%'" data-zs-spot-enlighter data-zs-spot-enlighter-multi="true" data-zs-spot-enlighter-restrict="'contact/medewerker'"
                data-zs-spot-enlighter-label="naam" data-zs-object-required="<[typeRecipient=='coworker']>" />
            </div>
            <div class="column large-8 td-field" data-ng-show="typeRecipient!=='coworker'">
              <input type="text" name="recipientAddress" data-ng-model="recipientAddress" data-ng-required="typeRecipient==='other'" class="large"
                data-zs-placeholder="'%%E-mailadres%%'" data-ng-disabled="typeRecipient!=='other'" />
            </div>
          </div>

          <div class="row row-email-content" data-ng-show="isCcVisible()">
            <div class="column large-4 td-label">%%Cc%%</div>
            <div class="column large-8 td-field">
              <input type="text" data-ng-model="ccAddress" class="large" data-zs-placeholder="'%%Cc (voorbeeld@zaaksysteem.nl;voorbeeld@mintlab.nl)%%'"
              />
            </div>
          </div>

          <div class="row row-email-content" data-ng-show="isBccVisible()">
            <div class="column large-4 td-label">%%Bcc%%</div>
            <div class="column large-8 td-field">
              <input type="text" data-ng-model="bccAddress" class="large" data-zs-placeholder="'%%Bcc (voorbeeld@zaaksysteem.nl;voorbeeld@mintlab.nl)%%'"
              />
            </div>
          </div>

          <div class="row row-email-content" data-ng-show="useCustomHtml()">
            <div class="column large-4 td-label">%%Berichtopmaak%%</div>
            <div class="column large-8 td-field">
              <input type="text" data-ng-model="customHtml" disabled="disabled" class="large" data-zs-placeholder="customHtmlTemplateName()"
              />
            </div>
          </div>

          <div class="row row-email-content">
            <div class="column large-4 td-label">%%Onderwerp%%</div>
            <div class="column large-8 td-field">
              <input type="text" data-ng-model="emailSubject" data-ng-required="true" class="large" data-zs-placeholder="'%%Onderwerp%%'"
              />
            </div>
          </div>

          <div class="row row-email-content">
            <div class="column large-4 td-label">%%Bericht%%</div>
            <div class="column large-8 td-field">
              <textarea data-ng-model="emailContent" data-ng-required="!template" data-zs-placeholder="'%%Inhoud%%'"></textarea>
            </div>
          </div>

          <zs-document-attachments></zs-document-attachments>
        </form>

        <div class="form-actions clearfix">
          <button class="button button-secondary btn btn-flat" ng-click="togglePreview()">
            {{isPreviewActive() ? 'Voorbeeld sluiten' : 'Voorbeeld'}}
          </button>
          <button data-ng-disabled="isLoading()||emailForm.$invalid" data-ng-click="!emailForm.$invalid&&sendEmail()" class="button button-primary btn btn-flat">
            %%Versturen%%
          </button>

          <button data-ng-show="context=='actions'" data-ng-disabled="isLoading()||isSaveDisabled()" data-ng-click="saveTemplate()"
            class="button button-secondary btn btn-flat">
            %%Opslaan%%
          </button>
        </div>
      </div>
    

    <!-- Messagebox tab -->
    <form id="messageBoxForm" class="grid-table modal-medium doc-sendmessage-form" data-ng-controller="nl.mintlab.docs.MessageBoxController"
      data-ng-init="init()" data-ng-show="tabIsActive('messageBox')" novalidate>
      <div data-ng-show="!hasFileErrors()">
        <div class="row row-email-content">
          <div class="column large-12 td-field">
            <input type="text" class="large" data-zs-placeholder="'%%Berichtenbox Aanvrager%%'" disabled="disabled" />
          </div>
        </div>
        <div class="row row-email-content">
          <div class="column large-12 td-field">
            <input type="text" data-ng-model="subject" class="large" data-zs-placeholder="'%%Onderwerp%%'" />
          </div>
        </div>
        <div class="row row-email-content">
          <div class="column large-12 td-field">
            <textarea data-ng-model="content" data-ng-required="true" data-zs-placeholder="'%%Inhoud%%'"></textarea>
          </div>
        </div>
      </div>

      <div class="row doc-sendmessage-form__errors" data-ng-show="hasFileErrors()">
        <div class="column xs-12 ">
          <strong>De inhoud kan niet opgestuurd worden naar de aanvrager.</strong>
          <ul>
            <li ng-repeat="error in getErrors('files')">
              <[error]>
            </li>
          </ul>
        </div>
      </div>

      <zs-document-attachments></zs-document-attachments>
      <div class="form-actions clearfix" data-ng-show="!hasFileErrors()">
        <button data-ng-disabled="!maySubmit() || loading" data-ng-click="submit()" class="button button-primary btn btn-flat">
          %%Versturen%%
        </button>
      </div>
    </form>

    <!-- Postex tab -->
    <form
      id="messagePostexForm"
      class="grid-table modal-medium doc-sendmessage-form"
      data-ng-controller="nl.mintlab.docs.MessagePostexController"
      data-ng-init="init()"
      data-ng-show="tabIsActive('postex')"
      novalidate
    >

      <div class="row row-email-content">
        <div class="column large-12 td-field">
          <input type="text" class="large"
            data-zs-placeholder="'%%Naar aanvrager%%'"
            disabled="disabled" />
        </div>
      </div>

      <div class="row row-email-content">
        <div class="column large-12 td-field">
          <input type="text" data-ng-model="subject" data-ng-required="true" class="large" data-zs-placeholder="'%%Onderwerp%%'" />
        </div>
      </div>

      <div class="row row-email-content">
        <div class="column large-12 td-field">
          <textarea data-ng-model="content" data-ng-required="true" data-zs-placeholder="'%%Inhoud%%'"></textarea>
        </div>
      </div>

      <zs-document-attachments></zs-document-attachments>

      <div class="form-actions clearfix">
        <button data-ng-disabled="!maySubmit()"  data-ng-click="submit()" class="button button-primary btn btn-flat">
          %%Versturen%%
        </button>
      </div>

    </form>
  </div>
</div>
