<div class="form zsaction-container" >
    <form action="[% c.uri_for('/betrokkene/0/bewerken') %]" method="POST" name="betrokkene_form">
        <input type="hidden" name="confirmed" value="1" />
        <h1 class="block-header-border">Maak een nieuw contact aan</h1>
        <table class="contact_aanmaken table-form">
            <tbody>
                <tr>
                    <td>
                        <label>Type betrokkene</label>
                    </td>
                    <td>
                        <div class="ezra_betrokkene_type">
                            <label for="burger">
                                <input
                                id="burger"
                                type="radio"
                                name="betrokkene_type"
                                value="natuurlijk_persoon"
                                [% (betrokkene_type == 'natuurlijk_persoon'
                                    ? 'checked="checked"'
                                    : ''
                                ) %]
                                /> Persoon
                            </label>
                            <label for="organisatie">
                                <input
                                id="organisatie"
                                type="radio"
                                name="betrokkene_type"
                                value="bedrijf"
                                [% (betrokkene_type == 'bedrijf'
                                    ? 'checked="checked"'
                                    : ''
                                ) %]
                                /> Organisatie
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                    </td>
                </tr>
        [% FOREACH betrokkene_data IN betrokkene_template %]
                <tr class="[% betrokkene_data.rowclasses.join(' ') %]">
                    <td><label>[% betrokkene_data.label %]</label></td>
                    <td>
            [% IF betrokkene_data.type == 'radio' %]
                        <div class="clearfix">
                [% FOREACH betrokkene_option IN betrokkene_data.options %]
                            <div class="col" style="margin-right:8px;">
                                <input
                                type="radio"
                                value="[% betrokkene_option.value %]"
                                name="[% betrokkene_option.name || betrokkene_data.name %]"
                                style="border: 0px none;"> [% betrokkene_option.label %]
                            </div>
                [% END %]
                        </div>
            [% ELSIF betrokkene_data.type == 'select' %]
                        <select name="[% betrokkene_data.name %]" class="[% betrokkene_data.classes.join(' ') %] replace-select-start-zaak">
                [% FOREACH betrokkene_option IN betrokkene_data.options %]
                            <option
                            value="[% betrokkene_option.value %]"
                            [% betrokkene_data.selected == betrokkene_option.value ? 'selected="selected"' : '' %]
                            >
                                [% betrokkene_option.label %]
                            </option>
                [% END %]
                        </select>
            [% ELSIF betrokkene_data.type == 'checkbox' %]
                        <input type="checkbox" value="1" name="[% betrokkene_data.name %]"[% betrokkene_data.checked ? ' checked="checked"' : '' %] />
            [% ELSE %]
                        <input type="text"
                        value=""
                        class="[% betrokkene_data.classes.join(' ') %]"
                        name="[% betrokkene_data.name %]"> [% betrokkene_data.post_label %]
            [% END %]
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                    </td>
                </tr>
        [% END %]
            </tbody>
        </table>
        <div class="form-actions clearfix">
            <input type="submit" class="button button-primary right" value="Opslaan">
        </div>
    </form>
</div>

