[%-
  counter = 0;
  WHILE (bedrijf = betrokkene_resultset.next);

    adres = bedrijf.vestiging_straatnaam _ ' ' _ bedrijf.vestiging_huisnummer;
    IF bedrijf.vestiging_huisletter;
      adres = adres _ bedrijf.vestiging_huisletter;
    END;
    IF bedrijf.vestiging_huisnummertoevoeging;
      adres = adres _ " " _ bedrijf.vestiging_huisnummertoevoeging;
    END;
    adres = adres _ ', ' _ bedrijf.postcode;
    adres = adres _ ', ' _ bedrijf.vestiging_woonplaats;
%]
<label for="vestigingsnummer_override_[% counter %]">
  <input type="radio" name="vestigingsnummer_override"
         value="[% bedrijf.vestigingsnummer %]"
         id="vestigingsnummer_override_[% counter %]">
  [% bedrijf.vestigingsnummer %]: [% bedrijf.handelsnaam %], [% adres %]
</label>
[% counter = counter + 1 %]
[% END %]
