[% USE Dumper %]

[% BLOCK display_datetime %]
	[% time_temp = my_time.set_time_zone('Europe/Amsterdam') %]
	[% time_temp.dmy %] [% time_temp.hms %]
[% END %]

[% BLOCK display_parameters %]
	<table>
	[% FOREACH key = my_hash.keys %]
	<tr>
		<td>[% key %]:</td><td> <strong>
		[% IF key =='scheduled_for' %]
			[% PROCESS display_datetime 
				my_time = my_hash.$key
			%]
		[% ELSE %]
			[% my_hash.$key %]
		[% END %]
		</strong></td>
	</tr>
	[% END %]
	</table>
[% END %]

<div class="configuration jobs ui-tabs ui-widget-content block">
    <div class="header tabbed">Systeemconfiguratie</div>

    <ul class="ui-rounded-corners-off ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-first ui-state-default ui-corner-top">
           <a class="ui-state-default ui-corner-top" id="filters" href="[% c.uri_for('/beheer/configuration') %]">Standaard opties</a>
        </li>
        <li class="ui-last ui-state-default ui-corner-top">
           <a class="" id="presentation" href="[% c.uri_for('/beheer/configuration') %]?advanced=1">Geavanceerde opties</a>
        </li>
        <li class="ui-last ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
           <a class="" id="chart" href="[% c.uri_for('/check_schedule') %]">Job schedule</a> 
        </li>
    </ul>

    <div class="blockcontent ui-widget-content">

    	<div class="jobs-done">
			<h3>Jobs done</h3>
			<div class="jobs-done-list">
			[% IF jobs_done %][% jobs_done %][% ELSE %]no jobs done[% END %]
			</div>
		</div>

		<div class="jobs-queue">
			<h3>Scheduled jobs</h3>
			<div class="jobs-queue-list">
				<table>
					<thead>
						<th>id</th>
						<th>task</th>
						<th>scheduled_for</th>
						<th>parameters</th>
						<!--th>created</th>
						<th>last_modified</th>
						<th>deleted</th-->
					</thead>

					[% WHILE (scheduled_job_row = pending.next) %]
					<tr>
						<td>[% scheduled_job_row.id %]</td>
						<td>[% scheduled_job_row.task %]</td>
						<td>[% PROCESS display_datetime my_time = scheduled_job_row.scheduled_for_utc %]</td>
						<td>[% PROCESS display_parameters my_hash = scheduled_job_row.parameters %]</pre></td>
						<!--td>[% PROCESS display_datetime my_time = scheduled_job_row.created %]</td>
						<td>[% PROCESS display_datetime my_time = scheduled_job_row.last_modified %]</td>
						<td>[% PROCESS display_datetime my_time = scheduled_job_row.deleted %]</td-->
					</tr>
					[% END %]

				</table>
			</div>
		</div>
	</div>
</div>