<!doctype html>
<html lang="en" ng-app="Zaaksysteem.meeting">
<head>
	<meta charset="utf-8">
	<title>VergaderApp</title>
	<base href="/vergadering/"/>
	<link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		window.zsOnScriptError = function ( event ) {
			document.body.innerHTML = 'A <a href="' + event.target.src + '">script</a> failed to load, perhaps because of an invalid certificate. If so, click the link to the script to optionally accept an insecure certificate.';
		};

		setTimeout(function () {
			Array.prototype.forEach.call(document.querySelectorAll('script[src^="https://"]'), function ( script ) {
				script.setAttribute('onerror', 'zsOnScriptError(event)');
			});
		}, 0);
	</script>
</head>
<body class="body-scroll-container">

<zs-snackbar></zs-snackbar>

<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>

<ui-view></ui-view>

<script src="/assets/vendors.bundle.js"></script>

</body>
</html>
