[% IF crumbs.size %]
    <div class="[% breadcrumb_type || 'breadcrumb-wrapper' %]">
        <div class="breadcrumb clearfix">     
            [% FOREACH crumb IN crumbs %]
                [% IF !loop.first %]
                <span class="breadcrumb-arrow[% IF loop.count <= (loop.size - 1) %] breadcrumb-arrow-dark[% END %]"></span>
                [% END %]
                
                <div class="breadcrumb-item">
                    [% IF crumb.link %]
                        <a href="[% crumb.link %]" class="breadcrumb-item-button">[% crumb.label | html_entity %]</a>
                    [% ELSE %]
                        <span class="breadcrumb-item-label">[% crumb.label | html_entity %]</span>
                    [% END %]
                </div>
                
            
            [% END %]
        </div>
    </div>
[% END %]
