$h2-stap-titel-fontsize:1.3em !default;
$h2-stap-titel-weight:600 !default;

.stap-tekst{
    clear:both;
    margin:0;
    padding: 0 0 .35em;
    border-top: none;
    position: relative;
    border-bottom: 2px solid #ddd;
    h3{
        font-size: 1.1em;
        margin:1.75em 0 1em;
    }
    .stap-beschrijving{
        line-height: 1.7;
        font-weight: normal;
        color: #222;
        margin:0 0 .8em;
        ul, ol{
            margin:.7em 0 1em;
            padding-left: 20px;
        }
        ul,ul>li{
            list-style-type:disc;
        }
        ol,ol>li{
            list-style-type:decimal;
        }
        p{
            margin:.7em 0 1em;
        }
    }
    &.stap-tekst-enkel{
        padding: 0 !important;
    }
}

.stap-titel, .stap-beschrijving{
    padding:0;
}

.stap-titel{
    margin-bottom:10px;
    font-size:$h2-stap-titel-fontsize;
    font-weight: $h2-stap-titel-weight;
}

.stap-tekst-no-border{
    border: none;
}

.stap-content-multiple{
    margin-bottom: 1em;
}


.form-navigation {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap:wrap;
  -ms-flex-direction: row;
  justify-content:flex-start;
  margin-bottom:2.5em;
  padding-right:20px;
  .stap {
    background: $background-color;
    padding: 5px 15px 5px 33px;
    height: 30px;
    -ms-flex: 1 0 auto;
    margin-top: 3px;
    flex-grow:1;
    line-height: 30px;
    color: black;
    font-size: 1em;
    text-align: center;
    position:relative;
    box-sizing: content-box;
    strong{
        font-weight: normal;
    }
    &:after,
    &:before {
        right: -38px;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index:1;
    }
    &:after {
        border-color: rgba(143, 173, 182, 0);
        border-left-color: $background-color;
        border-width: 19px;
        margin-top: -19px;
    }
    &:before {
        border-color: rgba(233, 242, 244, 0);
        border-left-color: #fff;
        border-width: 23px;
        margin-top: -23px;
        right:-46px;
    }
    a{
        color: #666;
        &:hover{
            cursor: default;
        }
    }
    &.done{
        &:after{
            border-color: rgba(233, 242, 244, 0);
            border-left-color: #e9f2f4;
        }
    }
    &.done a{
        text-decoration: underline;
        &:hover{
            cursor: pointer;
        }
    }
    &.done a, &.active a{
        color: #000;
    }
    &.active{
        color:#fff;
        background:$primary-color;
        border-bottom-color: $button-primary-bg-color;
        &:after {
            border-color: rgba(233, 242, 244, 0);
            border-left-color:$primary-color;
        }
        a{
            color:#fff;
        }
    }
    &.done.active{
        a{
            text-decoration: none;
        }
    }
    &.stap-disabled {
        color: #ddd;
        border-color: #e6e6e6;
        text-decoration: line-through;
        display: none;
    }
    &:last-child{
        &:after,
        &:before{
            display: none;
        }
        padding-right:20px;
        border-radius:0 3px 3px 0;
    }
    &:first-child{
        padding-left:20px;
        border-radius:3px 0 0 3px;
    }
  }
}

.form-navigation-disabled li{
    color: #999;
}